/* tell the SVG path to be a thin blue line without any area fill */
      .aGraph{
        /*position:absolute;top:0px;left:0; float:left;*/
      }

      path {
        stroke-width: 1;
        fill: none;
      }
      
      .data1 {
        stroke: blue;
      }
 
      .data2 {
        stroke: orange;
      }
 
      .axis {
        shape-rendering: crispEdges;
      }
 
      .x.axis line {
        stroke: gray;
      }
 
      .x.axis .minor {
        stroke-opacity: .5;
      }
 
      .x.axis path {
        display: none;
      }
      
      .x.axis text {
        font-size: 14;
      }
 
      .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
      }
 
      .y.axis text {
        font-size: 14;
      }
 
      .y.axisRight text {
        fill: orange;
      }
      
      .y.axisLeft text {
        fill: blue;
      }