!!! 5
html(lang='en', ng-app='weatherApp')
    head
        block title
        block styles
        block head-scripts

    body
        block content
        block footer
        block footer-scripts